.card {
    position: relative;
    overflow: hidden; /* Evitar que la imagen se desborde fuera de la tarjeta */
    border: none;
}

/* Estilo para la imagen con el zoom */
.card-img-top {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Transición suave cuando se aplica el zoom */
}

/* Efecto de zoom cuando el ratón pasa sobre la imagen */
.card:hover .card-img-top {
    transform: scale(1.1); /* Amplía la imagen al 110% de su tamaño original */
}

/* Estilo para el cuerpo de la tarjeta (aún visible sobre la imagen) */
.card-body {
    position: relative; /* Asegura que el contenido de la tarjeta no se mueva */
    /* Fondo semitransparente */
    /* Texto blanco para contraste */
    padding: 1rem;
    z-index: 2; /* Asegura que el cuerpo se quede encima de la imagen */
}

/* Espaciado para el título y el texto */
.card-body h2,
.card-body p {
    margin-top: 0.5rem;
}

.card-body h2 {
    margin-bottom: 1rem;
}

/* Asegurarse de que el texto no se desborde */
.card-body p {
    overflow-wrap: break-word;
}
body{
    background-color: aliceblue;
}